@model Store.Models.BrandModel

@{
    Layout = null;
}
<div id="add-brand">
    <form asp-action="AddBrand" asp-controller="Brand" method="post" enctype="multipart/form-data" id="BrandForm">
        <p>Новый бренд</p>
        <a class="close" href="javascript: close()"></a>
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
        @Html.TextBoxFor(m => m.Image, new { type = "file" })
        @Html.ValidationMessageFor(m => m.Image)
        <input type="button" value="Добавить" onclick="send()" />
    </form>
</div>
<div class="background"></div>

<script>
    function close() {
        $("#add").empty();
    }
    function send() {
        var formData = new FormData($("#BrandForm")[0]);
        $.ajax({
            url: "@Url.Action("AddBrand", "Brand")",
            type: "POST",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            data: formData,
            success: function (res) {
                $("#add").empty();
                if (res.created) {
                    greenPopup("Брэнд добавлен");
                } else {
                    $("#add").html(res);
                }
            },
            error: function () {

            }
        });
    }
</script>