@model IEnumerable<Store.Models.ProductModel>

<p>@ViewData["Brand"]</p>
<div class="products">
    @foreach (var product in Model)
    {
        <div class="product">
            @if (product.OldPrice.HasValue)
            {
                <div class="plate">sale</div>
            }
            <figure>
                <a href="@Url.Action("GetProduct", new {id = product.Id})"><img src="data:@product.ImageData.Type;base64,@product.ImageData.Content" /></a>
            </figure>
            <div class="item-descr">
                <a href="@Url.Action("GetProduct", new {id = product.Id})">@product.Name</a>
                <div class="prices">
                    <h3>@product.Price.Value<span class="rub"></span></h3>
                    @if (product.OldPrice.HasValue)
                    {
                        <p>@product.OldPrice.Value</p>
                    }
                </div>
                <a class="to-cart" href="javascript: addProduct(@(product.Id))">В корзину</a>
            </div>
        </div>
    }
</div>
<script>
    function addProduct(id) {
        $.ajax({
            url: "@Url.Action("AddProduct", "Basket")?productId=" + id,
            type: "POST",
            success: function (data) {

            },
            error: function () {
            }
        });
    }
</script>