@using Store.Models.Basket
@model List<PaymentInfoModel>

@{
    
}
@if (Model.Any())
{
    <table class="orders-table">
        <caption>Список заказов</caption>

        <tr>
            <th>Номер заказа</th>
            <th>ФИО</th>
            <th>Номер телефона</th>
            <th>Способ доставки</th>
            <th>Адрес</th>
            <th></th>
        </tr>
        @foreach (var payment in Model)
        {
            <tr>
                <td>@payment.OrderId</td>
                <td>@payment.GetFIO()</td>
                <td>@payment.Phone</td>
                <td>@payment.GetDeliveryWay()</td>
                <td>@payment.GetFullAddress()</td>
                <td>
                    <a href="@Url.Action("OrderIsCompleted", new {orderId = payment.OrderId})">
                        <input type="button" value="Исполнен"/>
                    </a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <div>Список заказов пуст</div>
}